* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #2f4f4f;
    padding-top: 20px;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding-left: 20px;
}

.sidebar ul li {
    margin: 20px 0;
    color: white;
}

.sidebar ul li strong {
    font-size: 18px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.header {
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    padding: 10px;
    text-align: left;
}

.order-table th {
    background-color: #007BFF;
    color: white;
}

.order-table td {
    background-color: #f2f2f2;
}

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
